<div id="container">
    <div id="nav_container">
        <div id="signInText" class="button">
            <div id=signIn_dropDown_container>
                <button id="signInButton" (submit)="onSubmit()" ([ngStyle])="validater()" >Sign In</button>
                <form #login="ngForm"(keyup.enter)="validate(username.value,password.value)">
                    <input type="text" #username placeholder="Please enter your username">
                    <input type="text" #password placeholder="Please enter your password">
                </form>
            </div>
        </div>
        <div class="navigationLinks" ><a routerLink="home">Home</a></div>
        <div class="navigationLinks" ><a routerLink="contact" >Other</a></div>
        <div id="signedIn_WelcomeMessage">Welcome: Montaniz</div>
    </div>
</div>
<!--
    //READ USER INPUT ANGULAR !!!!
    if(
     !username.$pristine && !password.$pristine && 
     username.$valid && password.$valid) &&
     email.$invalid
    -- > convert "signIn" to <button>signUp</button> and turn it green
    else
    -- > convert "signIn" to <button>signUp</button> and turn it red
    -- > signUp() //pass username && password, prefill with {{username,password}}
-->
<!--
    // enter username and password
    // onSubmit() -- > create new account();
    // store account data in root? app-component
-->
<!--
    // if not signed in && text in chatbox
    -- > disableChatBox()
    -- > promt user to signIn() or register()
    -- > reset()
    -- > signedIn = true;
    -- > display "Welcome {{account.username}}"
-->

