#container{
    background-color: #3c98ce;
    border-radius: 5px;
    min-height:17vh;
    width:100%;
    position:relative;
    
}

#nav_container{
    bottom: 0px;
    position:absolute;
    display:inline-flex;
    flex-direction: row;
}

.navigationLinks{
    margin:0rem 9em 0rem .3em;
}

form{
    display:none;
}

#signIn_dropDown_container:hover  form{
    display:block;
    position:absolute;
}

input{ display:block; }

#signInButton{
    font-size: 1em;
    font-weight: bolder;
    border:none;
    background-color:#3c98ce;
}

/*#signedIn_WelcomeMessage{
    display:none;
}*/
