#container{
    background-color: #3c98ce;
    border-radius: 5px;
    min-height:17vh;
    width:100%;
    position:relative;
    
}

#button_container{
    bottom: 0px;
    position:absolute;
    display:inline-flex;
    flex-direction: row;
}

.button{
    margin:0rem 7em 0rem 0em;
}

#signInComponent{
    display:none;
}

#signIn_dropDown_container:hover  #signInComponent{
    display:block;
    position:absolute;
}


/*#signedIn_WelcomeMessage{
    display:none;
}*/
