<div id="container">
    <div id="button_container">
        <div id="signInText" class="button">
            <div id=signIn_dropDown_container>
                Sign In
                <div class="signIn_dropDown_fields">
                    <input type="text" value="username">
                    <input type="text" value="password">
                    <input type="text" value="email">
                </div>
            
            </div>
        </div>
        <div  class="button">Other</div>
    </div>
</div>
