/* You can add global styles to this file, and also import other style files */
#body-container{
    min-height:100%;
    min-width:100%;
    background-color:black;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
